.property calcite-tabs {
  height: calc(var(--app-height) - 49px - 34px - 59.8438px);
}

.property calcite-tab {
  height: 100vh;
}

@media only screen and (max-height: 400px) {
  .property calcite-tabs {
    height: calc(var(--app-height) - 34px - 59.8438px);
  }
}
