calcite-color-picker-swatch {
  width: 100%;
  height: 24px;
}
.symbol {

  padding: 1em;
  background-color: var(--calcite-ui-foreground-1);
}

.slider-input {
  display: flex;
}

.slider-input calcite-input {
  width: 50%;
}

.slider-input calcite-slider {
  width: 50%;
}
