calcite-color-picker-swatch {
  width: 100%;
  height: 24px;
}
.sticky  {
  display: sticky;
}
.symbol {
  padding: 1em;
  background-color: var(--calcite-ui-foreground-1);
}

.slider-input {
  display: flex;
}

.slider-input calcite-input {
  width: 50%;
}

.slider-input calcite-slider {
  width: 50%;
}

#sketch-tools {
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#sketch-div{
    box-sizing: border-box;
    font-size: var(--calcite-font-size--1);
    overflow-y: auto;
    max-height: calc(100vh - 160px) !important;

}

